* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: rgb(222, 213, 213);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 5rem;
    height: 6vh;
    width: 100vw;
    font-size: large;
    background-color: white;
}

.navbar button {
    background-color: rgb(211, 205, 205);
    padding: 0.5rem;
    padding-inline: 1rem;
    border-radius: 1rem;
    font-weight: 600;
    border: none;
}

.navbar span {
    font-size: small;
}